* {margin: 0; padding: 0;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: linen;
    font-family: serif;
}

a {
    text-decoration: none;
    color:black
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

section {
    grid-column: 2 / 3;
}

img {
    width: 100%;
    object-fit: cover;
}
.home-button:hover {
    background-color: silver;
}

.logo-home {
    font-size: 3rem;
}

.page-links {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2.5rem;
    text-align: center;
}

.page-links a:hover {
    background-color: silver;
}

.banner {
    justify-self: center;
    background: url("https://www.w3schools.com/w3images/architect.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.projects-heading {
    grid-column: 1 / -1;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}