* {margin: 0; padding: 0;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: linen;
    font-family: serif;
}

a {
    text-decoration: none;
    color:black
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
}

section {
    grid-column: 2 / 3;
}

img {
    width: 100%;
    /* object-fit: fill;
    background-size: contain; */

}
.home-button:hover {
    background-color: silver;
}

.logo-home {
    font-size: 3rem;
}

.page-links {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2.5rem;
    text-align: center;
}

.page-links a:hover {
    background-color: silver;
}

.banner {
    background-image: url("https://www.w3schools.com/w3images/architect.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50% 50%;
    background-color: blue;
    /* padding-right: 50%; */
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h3 {
    text-align: center;
    position: absolute;
    top: 3%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    box-sizing: content-box;


    
}

.projects-heading {
    grid-column: 1 / -1;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.contact-input-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    column-width: 50%;
    margin: 5rem;
}

.contact-input-grid input {
    margin: .5rem;
}

.photo {
    display: grid;
    position: relative;
    size: 25%;
}

footer {
    font-size: 2rem;
    text-align: center;
    background-color: black;
    color: linen;
}

footer a {
    color: linen;
}

footer a:hover {
    background-color: silver;
}
.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: x-large;
}
button {
    position: center;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
body, html {
    height: 100%;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    max-height: min-content;
    align-items: center;
  }
  .grid figure {
    border: 2px solid red;
    margin: 0;
    padding: 0;
    background-color: yellow;
    display: flex; /* new */
  /* }
  .grid figure img {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    object-fit: cover; /* new */
  /* } */ */ */