* {margin: 0; padding: 0;}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 240, 250);
    font-family: Verdana, serif;
}

a {
    text-decoration: none;
    color:black
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    letter-spacing: .3em;
}

.logo-home {
    font-size: 1.7rem;
    padding: 1.5rem 3rem;
    /* letter-spacing: .2em; */
}

.logo-home a {
    padding: 1rem 2rem;
}

.logo-home a:hover {
    background-color: silver;
}

.page-links {
    display: grid;
    justify-self: end;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.7rem;
    text-align: center;
}

.page-links a {
    align-self: center;
    padding: 1rem 1.5rem;
}

.page-links a:hover {
    background-color: silver;
}

.banner {
    position: relative;
    text-align: center;
    letter-spacing: .3rem;
}

h1 {
    position: absolute;
    bottom: 50%;
    top: 50%;
    left: 40%;
    right: 50%;
    color: linen;
    font-size: 4rem;
}

#logo {
    background-color: rgba(0, 0, 0, .7);
    color: linen;
    padding: 1.5rem 2rem;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 150;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    /* margin-top: 5rem;
    margin-bottom: 2rem; */
}

hr {
    border-color: rgba(150, 150, 150, .1);
}

.projects {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 10rem .5rem 1fr;
}

.projects h2, hr {
    grid-column: 2 / -2;
    align-self: center;
}

/* this is where the 
problem with the photogrid pics
and their relative sizing */

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / -2;
    gap: 2rem;
    margin-top: 3rem;
}

.photo-grid img {
    width: 100%;
}

.photo {
    position: relative;
    text-align: center;
}

/* labels on the pics in projects */
h3 {
    background-color: black;
    color: linen;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    padding: .8rem 1.3rem;
    font-weight: 500;
    letter-spacing: .01rem;
}

.about {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 10rem 4rem min-content 1fr;
}

.about h2, hr {
    grid-column: 2 / -2;
    align-self: center;
}

.about p {
    grid-column: 2 / -2;
}

.contact-grid {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}

.contact-grid div img {
    width: 100%;
}

.contact-grid div div {
    font-size: 1.5rem;
    /* position: relative; */
    text-align: center;
    background-color: lightgray;
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
}

.contact-grid div div:hover {
    background-color: silver;
}

.contact {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 10rem .5rem 2rem 1fr min-content;
    gap: 2rem;
    margin-top: 3rem;
}

.contact h2, hr {
    align-self: center;
}

.contact h2, hr, p, form {
    grid-column: 2 / -2;
    width: 100%;
}

.contact-input-grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2.5rem;
}

.contact form input {
    font-size: 1.5rem;
    padding: 1rem 1rem;
}

.contact form button {
    background-color: black;
    border: none;
    color: linen;
    font-size: 1.7rem;
    position: relative;
    top: 0;
    left: 0;
    max-width: 200px;
    max-height: 50px;
}

.contact form button:hover {
    background-color: silver;
    color: black;
}

.contact img {
    grid-column: 2 / -2;
    width: 100%;
}

footer {
    font-size: 1.5rem;
    text-align: center;
    background-color: black;
    color: linen;
    padding: 2.5rem;
}

footer a {
    color: linen;
    text-decoration: underline;
}

footer a:hover {
   color: green;
}



 
/* 2 columns under 990px */
@media only screen and (max-width: 990px) {
    .photo-grid {
        grid-template-columns: 1fr 1fr;
    }
    .contact-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* 610px the arch goes from one 
line to separate lines */

@media only screen and (max-width: 600px) {
    .photo-grid {
        grid-template-columns: 1fr;
        grid-column: 2 / -2;
    }
    /* text disappears */
    .page-links {
        display: none;
    }

    #arch {
        display: none;
    }

}